<div id="confirmation-dialog">
    <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{confirmationDialogConfig.title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="span5">{{confirmationDialogConfig.message}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="showDialog()">Cancel</button>
                    <button type="button" ng-repeat="button in confirmationDialogConfig.buttons"
                        ng-click="executeDialogAction(button.action)"
                        class="btn btn-primary">{{button.label}}</button>
                </div>
            </div>
        </div>
    </div>
</div>      