<div ng-controller="pacientesCtrl">
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h4>Pacientes</h4>
    </div>

    <!--input type="text" class="form-control" ng-model="criterioDeBusca" ng-model-options="{updateOn: 'default blur', debounce:{default:500, blur:0}}" placeholder="O que você está buscando?"-->             
    <div class="mt-4">  
        <div class="table-responsive">
            <table class="table table-striped" ng-show="pacientes.length > 0">
                <thead>
                    <tr>
                        <th></th>                
                        <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>  
                        <th><a href="" ng-click="ordenarPor('data')">Data de Nascimento</a></th>              
                        <th>Idade</a></th>
                        <th>Altura</th>
                        <th>Peso</th> 
                        <th colspan="2">Ações</th>                               
                    </tr>
                </thead>
                    <tbody>
                    <tr ng-class="{'selecionado negrito': paciente.selecionado}" ng-repeat="paciente in pacientes | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao track by $index">
                        <td><input type="checkbox" name="" id="" ng-model="paciente.selecionado" ng-click="verificarPacienteSelecionado(paciente)"></td>
                        <td><a href="#/detalhesPaciente/{{paciente.id}}">{{paciente.nome}}</a></td>                
                        <td>{{paciente.data | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{paciente.idade}}</td>
                        <td>{{paciente.altura | lowercase}}</td>
                        <td>{{paciente.peso}}</td> 
                        <td> 
                            <a href="#/editarPaciente/{{paciente.id}}"><i class="material-icons edit">mode_edit</i></a>    
                        </td>
                        <td>
                            <div class="open-dialog" ng-click="confirmationDialog('Deletar', 'Deseja deletar o paciente: ' + paciente.nome + ' ?','Deletar','delete', paciente, $index)">                        
                                <i class="material-icons delete">delete</i>
                            </div>                    
                        </td>                
                    </tr>
                </tbody>
            </table>   
        </div>      
    </div>
    
    <div class="mt-4 col-12">        
        <a href="#/registros" class="btn btn-secondary col-6">Voltar</a>
    </div>
</div>